{% extends "testapp/base.html" %}

{% block content %}
  <h3>Upload Citations</h3>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Submit</button>
  </form>

  {% if results %}
    <h3>Errors</h3>
    <ul>
    {% for error in results.get_errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>

    <h3>Results</h3>
    <ul>
    {% for result in results.get_results %}
      <li>{{ result }}</li>
    {% endfor %}
    </ul>
  {% endif %}

  <h3>Records</h3>
  <ul>
  {% for citation in citations %}
    <li>{{ citation }} {{ citation.metadata }}</li>
  {% endfor %}
  </ul>
{% endblock %}
